/* Estilos para el separador videojuegos*/
.separador-videojuegos {
    height: 8vh;
    min-height: 35px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 3.5vh);
    margin-left: max(6px, 1vw);
    margin-right: max(6px, 1vw);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilos para el texto dentro del separador*/
.texto-separador {
    color: var(--text-primary-color);

}

/* Estilos para el contenedor de las cajas*/
.contenedor-cajas {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: center;
    
}

/* Estilos para el contenedor de crear videojuego*/
.contenedor-crear-videojuego {
    display: flex;  
    padding: 20px;
    flex-wrap: wrap;
    background-color: var(--card-color);
    width: 80vw;
    border-radius: 8px;
    justify-content: center;   
    
}

/* Estilos para el contenedor del formulario de crear videojuego*/
.formulario-videojuego {
    width: 40%;
    min-width:250px;
    max-width: 580px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 15px;
    background-color: var(--card-color);
    flex-grow: 1;

}

/* Estilos para la imagen de relleno*/
.contenedor-imagen {
    filter: brightness(50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 40vw;
    min-width: 400px;
    position: relative;

}

.texto-sobre-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-primary-color);
    font-size: 5vh;     
    text-align: center;
    padding: 10px;
    font-weight: 600;
}



