.separador-pagina-progreso {
    height: 8vh;
    min-height: 48px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 2.5vh);
    margin-left: max(6px, 4vw);
    margin-right: max(6px, 4vw);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* Estilos para el texto dentro del separador*/
.texto-separador {
    color: var(--text-primary-color);
}

.is-50x50 {
    width: 100px;
    height: 100px;
}

.box-progreso {
    padding: 15px;
    background-color: var(--card-color);
    flex: 1 1;
    min-width: 445px;
    max-width: 700px;
    margin: 4px;
    position: relative;
    border-radius: 10px;
}

.texto-carta-progreso {
    font-weight: bold;
    font-size: 16px;
}

.estado {
    color:antiquewhite;
}

.plataforma {
    color:aqua;
}

.tiempo_jugado {
    color:azure;
}

.dificultad {
    color: chocolate;
}

.porcentaje {
    color:burlywood;
}

/* Estilos para la posición botón eliminar */
.boton-eliminar-progreso {
    position: absolute;
    bottom: 37px;
    right: 80px;

}

/* Estilos para el botón eliminar */
.boton-eliminar-progreso .button.is-primary {
    background-color: #d85454;
    color: var(--primary-color);

}

/* Posición del botón añadir*/
.boton-editar-progreso {
    position: absolute;
    bottom: 37px;
    right: 15px;

}

/* Estilos para el botón añadir - colores*/
.boton-editar-progreso .button.is-primary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--primary-color);

}
