.boton-editar .button.is-primary {
    color: var(--text-primary-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5.5vw;
    border-radius: 8px;

}