/* Carta del perfil*/
.card-perfil {
    background-color:white;
    flex: 1 1;
    min-width: 60vw;
    max-width: 60vw;    
    margin: auto;
    height: auto;

}

/* Header de la carta */
.card-header-perfil {
    background-color: var(--primary-color)
}

.separador-perfil {
    height: 8vh;
    min-height: 48px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 2.5vh);
    margin-left: max(6px, 4vw);
    margin-right: max(6px, 4vw);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo datos del usuario*/
.title-perfil {
    color: black !important;
    font-size: 20px !important;
}
.subtitle-perfil {
    color: black !important;
    font-size: 15px !important;
}
/* caja de videojuegos con mas progreso*/
.box-perfil {
    background-color: var(--card-color);
    flex: 1 1;
    min-width: 50vw;
    max-width: 50vw; 
    height: 10vw;
    min-height: 240px;
    margin: auto;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*estilo boton de editar/eliminar*/
.boton-editar {
    position: absolute;
    bottom: 50px;
    right: 15px;
}

.boton-editar .button .is-primary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0px !important;
}