
/* Estilos para la caja de perfil*/
.box {
    background-color:white;
    flex: 1 1;
    min-width: 460px;
    max-width: 700px;
    height: 35vh;
    min-height: 253px;
    margin: 4px;
    position: relative;
       
}

/* Contenedor de las cajas de los videojuegos*/
.contenedor-cajas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    gap: 10px;
    justify-content: center;
    
}

/* Estilos para el contenido dentro de las cajas de los videojuegos*/
.content {
    color: var(--text-tertiary-color);
    font-size: 15px;
}

/* Estilos para el nombre del videojuego*/
.content strong {
    color: var(--text-primary-color);
    font-size: 20px;
}

/* Estilos para el playtime*/
.tag {
    font-size: 15px;
   
}

/* Posición del botón añadir*/
.boton-añadir {
    position: absolute;
    bottom: 12px;
    right: 15px;

}

/* Estilos para el botón añadir - colores*/
.boton-añadir .button.is-primary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--primary-color);

}