/* Estilos para el separador videojuegos*/
.separador-pagina-videojuegos {
    height: 8vh;
    min-height: 48px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 2.5vh);
    margin-left: max(6px, 4vw);
    margin-right: max(6px, 4vw);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

/* Estilos para el texto dentro del separador*/
.texto-separador {
    color: var(--text-primary-color);

}

.searchbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: max(6px, 2.5vh);
    margin-left: 2vw;
}

/* Estilo para el input de búsqueda */
.input-busqueda {
    background-color: #ececec;
    color: var(--text-secondary-color);
    font-size: 15px;
    height: 47px;
    width: 250px;
    border: 1px solid #aaa7a8;
    border-top-left-radius: 6px;   
    border-bottom-left-radius: 6px; 
    padding-left: 10px;
    
}
  
/* Estilo al enfocar el input de búsqueda */
.input-busqueda:focus {
    border-color: #7e7e7e;
    box-shadow: 0 0 6px #7f7e7e;
    outline: none;
}
  
  
/* Cambiar color del botón de búsqueda */
.button.is-info {
    background-color: #979797;
    color: var(--text-primary-color);
    height: 47px;
    width: 100px;
}

/* Cambiar color del placeholder en los inputs */
.input::placeholder {
    color: var(--text-tertiary-color)
} 

/* Estilos para sección mis videojuegos */
.seccion-mis-videojuegos {
    height: 50px;
    width: 150px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5.5vw;
    border-radius: 8px;
}

/* Estilos para el texto Mis Videojuegos */
.boton-misvideojuegos .button.is-primary {
    color: var(--text-primary-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5.5vw;
    border-radius: 8px;

}

.seccion {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vw;
    padding-right: 4vw;
    
}