/* Estilos para el separador videojuegos*/
.separador-videojuegos {
    height: 8vh;
    min-height: 35px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 3.5vh);
    margin-left: max(6px, 1vw);
    margin-right: max(6px, 1vw);
    background-color: #63D6B3;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilos para el texto dentro del separador*/
.texto-separador {
    color:#000000;

}

.formulario-videojuego {
    margin-left: 20vw;
    margin-right: 6vw;
    margin-bottom: 5vh;
    padding: 3vw;
    background-color: #5e5e5e;
}