.fondo-home {
    position: relative;  
    width: 100%;
}

/* Estilos para la imagen de fondo en la página de inicio */
.home {
    width: 100%;
    filter: brightness(50%);
    display: block;
}

/* Estilos para el texto sobre la imagen de fondo */
.texto-fondo {
    position: absolute;
    z-index: 1;                
    color: white;             
    text-align: left;                 
    top: 26%; 
    padding-left: 80px;                
}
  
/* Estilos para los encabezados dentro del texto de fondo */
.texto-fondo h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
/* Estilos para el subencabezado dentro del texto de fondo */
.texto-fondo h2 {
    font-size: 25px;         
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6c6b6d;
}
  
/* Estilos para el tercer nivel de encabezado dentro del texto de fondo */
.texto-fondo h3 {
    font-size: 18px;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    padding-left: 10px;
}

/* Estilos para el separador */
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    min-height: 55px;
    width: 100%;
    background-color: #687173;
}

/* Estilos para el texto del separador */
.separador-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #000000;
}

/* Estilos para las cajas de los videojuegos*/
.box {
    background-color: #323232;
    flex: 1 1;
    min-width: 470px;
    max-width: 700px;
    height: 35vh;
    min-height: 253px;
    margin: 4px;
    position: relative;
       
}

/* Contenedor de las cajas de los videojuegos*/
.contenedor-cajas {
    padding-top: 27px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vw;
    padding-right: 4vw;
    gap: 10px;
    justify-content: center;
    
}

/* Estilos para el contenido dentro de las cajas de los videojuegos*/
.content {
    color: #dcdcdc;
    font-size: 15px;
}

/* Estilos para el nombre del videojuego*/
.content strong {
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el playtime*/
.tag {
    font-size: 15px;
   
}

/* Posición del botón añadir*/
.boton-añadir {
    position: absolute;
    bottom: 12px;
    right: 15px;

}

/* Estilos para el botón añadir - colores*/
.boton-añadir .button.is-primary {
    background-color: #a1e0cd;
    border-color: #8eefd2;
    color: #000000;

}

.top-games-container {
    text-align: left;
    padding-left: 5vw;
    padding-top: 4vh;
   
}
.top-games {
    font-size: 39px;
    color: #ca6328;
    font-family:'Bungee', sans-serif;

}

