/* Cambiar color de fondo de la página*/
html {
    background-color: #aaa7a8;
}

/* Estilos para el modal de inicio de sesión */
.modal-card-head {
    background-color: #8a8a8a;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
}

/* Estilos para el cuerpo del modal */
.modal-card-body {
    background-color: #d4d4d4;
    padding: 25px 40px;
}
  
/* Estilos para el pie del modal */
.modal-card-foot {
    background-color: #d4d4d4;
    padding: 10px 15px;
} 
  
/* Estilos para el botón de iniciar sesión, dentro del modal */
.button.is-success {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}
  
/* Estilos generales para el modal */
.modal-card {
    border-radius: 10px;
    width: 500px;
}
  
/* Estilos para las etiquetas de los formularios */
.label {
    color: #757575;
    font-weight: 600;
}
  
/* Estilos para los inputs de seleccion dentro del modal de registro */
.control2 .select select {
    background-color: #ececec;
    border-color: #aaa7a8;
    color: #000000;
}
  
/* Estilos al enfocar los inputs de seleccion dentro del modal de registro */
.control2 .select select:focus{
    color: #B5B5C3;
    border-color: #7e7e7e;
    box-shadow: 0 0 6px #7f7e7e;
}
  
/* Estilos específicos para los inputs dentro del modal de inicio de sesión */
.control2 .input{
    background-color: #ffffff;
    color: #000000;
}
  
/* Estilos para el botón de Guardar */
.button.is-link {
    background-color: #393939;
    border-color: #000000;
    color: #ffffff;
}
  
/* Estilos para el botón de Cancelar */
.button.is-link.is-light {
    background-color: #a3a3a3;
    border-color: #000000;
    color: #000000;
}
  
/* Estilos para los enlaces */
.enlace {
    color: #454545;
    text-decoration: underline;
}

.fondo-home {
    position: relative;  
    width: 100%;
}

/* Estilos para la imagen de fondo en la página de inicio */
.home {
    width: 100%;
    filter: brightness(50%);
    display: block;
}

/* Estilos para el texto sobre la imagen de fondo */
.texto-fondo {
    position: absolute;
    z-index: 1;                
    color: white;             
    text-align: left;                 
    top: 26%; 
    padding-left: 80px;                
}
  
/* Estilos para los encabezados dentro del texto de fondo */
.texto-fondo h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
/* Estilos para el subencabezado dentro del texto de fondo */
.texto-fondo h2 {
    font-size: 25px;         
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6c6b6d;
}
  
/* Estilos para el tercer nivel de encabezado dentro del texto de fondo */
.texto-fondo h3 {
    font-size: 18px;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    padding-left: 10px;
}

/* Estilos para el separador */
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    background-color: #687173;
}

/* Estilos para el texto del separador */
.separador-text {
    font-size: 35px;
    color: #000000;
}