/* Cambiar color de fondo de la página*/
html {
    background-color: #aaa7a8;
}

/* Estilos para el separador videojuegos*/
.separador-videojuegos {
    height: 8vh;
    min-height: 35px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 3.5vh);
    margin-left: max(6px, 1vw);
    margin-right: max(6px, 1vw);
    background-color: #63D6B3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el texto dentro del separador*/
.texto-separador {
    color:#000000;

}

/* Estilos para las cajas de los videojuegos*/
.box {
    background-color: #323232;
    flex: 1 1;
    min-width: 440px;
    max-width: 700px;
    height: 35vh;
    min-height: 253px;
    margin: 4px;
    position: relative;
       
}

/* Contenedor de las cajas de los videojuegos*/
.contenedor-cajas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 10px;
    justify-content: center;
    
}

/* Estilos para el contenido dentro de las cajas de los videojuegos*/
.content {
    color: #dcdcdc;
    font-size: 15px;
}

/* Estilos para el nombre del videojuego*/
.content strong {
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el playtime*/
.tag {
    font-size: 15px;
   
}

/* Posición del botón añadir*/
.boton-añadir {
    position: absolute;
    bottom: 12px;
    right: 15px;

}

/* Estilos para el botón añadir - colores*/
.boton-añadir .button.is-primary {
    background-color: #a1e0cd;
    border-color: #8eefd2;
    color: #000000;

}
