/* Cambiar color de fondo de la página*/
html {
    background-color: #aaa7a8;
}

/* Estilos para el separador videojuegos*/
.separador-videojuegos {
    height: 8vh;
    min-height: 35px;
    margin-top: max(6px, 2.5vh);
    margin-bottom: max(6px, 3.5vh);
    margin-left: max(6px, 1vw);
    margin-right: max(6px, 1vw);
    background-color: #63D6B3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el texto dentro del separador*/
.texto-separador {
    color:#000000;

}

/* Estilos para las cajas de los videojuegos*/
.box {
    background-color: #323232;
    flex: 1 1;
    min-width: 440px;
    max-width: 700px;
    height: 35vh;
    min-height: 253px;
    margin: 4px;
    position: relative;
       
}

/* Contenedor de las cajas de los videojuegos*/
.contenedor-cajas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 10px;
    justify-content: center;
    
}

/* Estilos para el contenido dentro de las cajas de los videojuegos*/
.content {
    color: #dcdcdc;
    font-size: 15px;
}

/* Estilos para el nombre del videojuego*/
.content strong {
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el playtime*/
.tag {
    font-size: 15px;
   
}

/* Posición del botón añadir*/
.boton-añadir {
    position: absolute;
    bottom: 12px;
    right: 15px;

}

/* Estilos para el botón añadir - colores*/
.boton-añadir .button.is-primary {
    background-color: #a1e0cd;
    border-color: #8eefd2;
    color: #000000;

}

/* Estilos para la cabecera del modal */
.modal-card-head {
    background-color: #8a8a8a;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
}

/* Estilos para el cuerpo del modal */
.modal-card-body {
    background-color: #d4d4d4;
    padding: 25px 40px;
}
  
/* Estilos para el pie del modal */
.modal-card-foot {
    background-color: #d4d4d4;
    padding: 10px 15px;
} 
  
/* Estilos para el botón de iniciar sesión, dentro del modal */
.button.is-success {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}
  
/* Estilos generales para el modal */
.modal-card {
    border-radius: 10px;
    width: 500px;
}
  
/* Estilos para las etiquetas de los formularios */
.label {
    color: #757575;
    font-weight: 600;
}
  
/* Estilos para los inputs de seleccion dentro del modal de registro */
.control2 .select select {
    background-color: #ececec;
    border-color: #aaa7a8;
    color: #000000;
}
  
/* Estilos al enfocar los inputs de seleccion dentro del modal de registro */
.control2 .select select:focus{
    color: #B5B5C3;
    border-color: #7e7e7e;
    box-shadow: 0 0 6px #7f7e7e;
}
  
/* Estilos específicos para los inputs dentro del modal de inicio de sesión */
.control2 .input{
    background-color: #ffffff;
    color: #000000;
}
  
/* Estilos para el botón de Guardar */
.button.is-link {
    background-color: #393939;
    border-color: #000000;
    color: #ffffff;
}
  
/* Estilos para el botón de Cancelar */
.button.is-link.is-light {
    background-color: #a3a3a3;
    border-color: #000000;
    color: #000000;
}
  
