/* Cambiar color de fondo de la página*/
html {
    background-color: #d4d7db;
}

/* Cambiar color de fondo y estilo del botón especial del navbar */
.navbar .navbar-item2{
    color: #ffffff; 
    background-color: var(--primary-color);
    display: flex;
    align-items: center;   
    justify-content: center; 
    margin: 0; 
    padding-left: 20px;    
    padding-right: 25px;   
}
  
/* Cambiar color de fondo del navbar */
.navbar {
    background-color: #ffffff;
    height: 10vh;       
    display: flex;
}

/* Cambiar color del texto del navbar */
.navbar-item {
    color: var(--text-secondary-color);
    font-weight: 400;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* Cambiar color al pasar el mouse */
.navbar-item:hover {
    background-color: var(--primary-color) ; 
    color: var(--text-primary-color);
}

.navbar-burger span {
    background-color: var(--tertiary-color);
}

.navbar-burger {
    background-color: var(--primary-color)
}

.navbar-burger:hover{
    background-color: var(--primary-color)
}

.navbar-brand {
    background-color: var(--primary-color);
    padding-left: 10px;

}

/* Estilos para el footer */
.footer {
    background: var(--primary-color);
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}
  
.footer-container p {
    color: var(--text-primary-color);
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilos para los enlaces en el footer */
.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: var(--text-tertiary-color);
    margin: 12px;
    font-size: 14px;
}

/* Estilos para los iconos de redes sociales en el footer */
.footer-social a {
    font-size: 23px;
    margin: 10px;
    color: var(--secondary-color);
}

/* Estilos botones del menu hamburguesa */
@media (max-width: 1024px) {
    .navbar-menu .navbar-item {
        padding-top: 20px;    
        padding-bottom: 20px;  
        width: 200px;
        text-align: center;
        background-color: #ffffff;    
    }

    .navbar-item:hover {
        background-color: var(--primary-color) ; 
        color: var(--text-primary-color);
    }
}