@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee:wght@400&display=swap');

html, body {
    font-family: var(--font-main);
}

.top-games {
    font-family: var(--font-title);
}